<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>Spring Web</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/layout/css/style.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/css/bootstrap-datepicker.standalone.min.css}" />
	
<link rel="stylesheet" type="text/css"	th:href="@{/layout/css/vendors.min.css}" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
	<header layout:insert="~{layout/Cabecalho}"></header>

	<div class="container">


		<section class="aw-layout-content  js-content"
			layout:fragment="conteudo"></section>

	</div>

	<script th:src="@{/layout/js/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/layout/js/bootstrap.min.js}"></script>
	<script th:src="@{/layout/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/layout/js/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/layout/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/layout/js/cobranca.js}"></script>
	<script th:src="@{/layout/js/algaworks.min.js}"></script>
	
	

	<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>