<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-simples}">



<th:block layout:fragment="conteudo">
	<div class="container" style="padding-top: 10%">
		<div class="text-center">
			<img alt="Senior" th:src="@{/images/Logo-Senior-PNG.png}" width="30%"/>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Realize a autenticação </h3>
					</div>
					<div class="panel-body">
						<div class="text-center"
							th:if="${#bools.isTrue(param.error)}"><i style="color:red"> O usuário e/ou senha
							não conferem</i></div>
						<form th:action="@{/login}" method="POST" accept-charset="UTF-8">
							<fieldset>
								<div class="form-group">
									<label>Usuário</label> <input class="form-control" type="text"
										placeholder="Seu usuário" autofocus="autofocus"
										name="username" />

								</div>
								<div class="form-group">
								<label>Senha</label>
									<input class="form-control" placeholder="Sua senha"
										name="password" type="password" value="">
								</div>

								<input class="btn btn-lg btn-default btn-block" type="submit"
									value="Entrar">
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>