<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">

<head>
<title>PASS - Cadastro de Conexão</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Cadastro de Conexão</h1>
				</div>

				<div class="col-xs-2" style="padding-top: 2%">
					<a class="btn btn-primary" th:href="@{/senhas}"> <i
						class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm">Voltar
							a pesquisa</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" class="form-vertical  js-form-loading"
			th:object="${conexao}" th:action="@{/senhas/novo}">

			<div layout:insert="~{layout/MensagemGeral}"></div>
			<div layout:insert="~{layout/MensagemErro}"></div>

			<input type="hidden" th:field="*{codigo}" />

			<div class="row">
				<div class="form-group col-sm-6"
					th:classappend="${#fields.hasErrors('cliente')} ? has-error">
					<label class="control-label" for="cliente">Cliente:</label> <select
						id="cliente" class="form-control" th:field="*{cliente}">
						<option value="">Selecione um cliente</option>
						<option th:each="cliente : ${clientes}"
							th:value="${cliente.codigo}" th:text="${cliente.nome}"></option>
					</select>
				</div>
				<div class="form-group  col-sm-6"
					th:classappend="${#fields.hasErrors('codigoSenior')} ? has-error">
					<label class="control-label" for="codigoSenior">Código
						Senior:</label> <input id="nome" type="number" class="form-control"
						th:field="*{codigoSenior}" />
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-6"
					th:classappend="${#fields.hasErrors('tipoRede')} ? has-error">
					<label class="control-label" for="tipoRede">Tipo de Rede:</label> <select
						id="tipoRede" class="form-control" th:field="*{tipoRede}">
						<option value="">Selecione um Tipo de Rede</option>
						<option th:each="tipoRede : ${tipoRedes}"
							th:value="${tipoRede.codigo}" th:text="${tipoRede.nome}"></option>
					</select>
				</div>
				<div class="form-group col-sm-6"
					th:classappend="${#fields.hasErrors('tipoConexao')} ? has-error">
					<label class="control-label" for="tipoRede">Tipo de
						Conexão:</label> <select id="tipoConexao" class="form-control"
						th:field="*{tipoConexao}">
						<option value="">Selecione um Tipo de Conexão</option>
						<option th:each="tipoConexao : ${tipoConexoes}"
							th:value="${tipoConexao.codigo}" th:text="${tipoConexao.nome}"></option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('ip')} ? has-error">
					<label class="control-label" for="ip">IP: </label>
					<textarea id="ip" rows="3" class="form-control" th:field="*{ip}"></textarea>
				</div>
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('usuarioRede')} ? has-error">
					<label class="control-label" for="usuarioRede">Usuário de
						rede:</label>
					<textarea id="usuarioRede" rows="3" class="form-control"
						th:field="*{usuarioRede}"></textarea>
				</div>
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('senhaRede')} ? has-error">
					<label class="control-label" for="senhaRede">Senha de rede:</label>
					<textarea id="senhaRede" rows="3" class="form-control"
						th:field="*{senhaRede}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('usuarioSistema')} ? has-error">
					<label class="control-label" for="usuarioSistema">Usuário
						Sistema: </label>
					<textarea id="usuarioSistema" rows="3" class="form-control"
						th:field="*{usuarioSistema}"></textarea>
				</div>
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('senhaSistema')} ? has-error">
					<label class="control-label" for="senhaSistema">Senha
						Sistema: </label>
					<textarea id="senhaSistema" rows="3" class="form-control"
						th:field="*{senhaSistema}"></textarea>
				</div>
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('usuarioBd')} ? has-error">
					<label class="control-label" for="usuarioBd">Usuário Banco
						de Dados: </label>
					<textarea id="usuarioBd" rows="3" class="form-control"
						th:field="*{usuarioBd}"></textarea>
				</div>
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('senhaBd')} ? has-error">
					<label class="control-label" for="ip">Senha Banco de Dados:
					</label>
					<textarea id="senhaBd" rows="3" class="form-control"
						th:field="*{senhaBd}"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('observacao')} ? has-error">
					<label class="control-label" for="ip">Observação:
					</label>
					<textarea id="observacao" rows="3" class="form-control"
						th:field="*{observacao}"></textarea>
				</div>
				
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('versao')} ? has-error">
					<label class="control-label" for="ip">Versão:
					</label>
					<textarea id="versao" rows="3" class="form-control"
						th:field="*{versao}"></textarea>
				</div>
				
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('permissao')} ? has-error">
					<label class="control-label" for="tipo">Pedir Permissão: </label> <select
						id="permissao" class="form-control" th:field="*{permissao}">
						<option value="">Selecione</option>
						<option th:each="permissao : ${permissoes}"
							th:value="${permissao}" th:text="${permissao}"></option>
					</select>
				</div>
			
			</div>

			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>

</section>

<section layout:fragment="javascript-extra"></section>
</html>