<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute">

<head>
<title>PASS - Cadastro de Conexão / Usuário</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Cadastro de Conexão | Usuário</h1>
				</div>

				<div class="col-xs-2" style="padding-top: 2%">
					<a class="btn btn-primary" th:href="@{/senhas}"> <i
						class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm">Voltar</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" class="form-vertical  js-form-loading"
			th:object="${conexaoRede}" th:action="@{/senhas/conexaoRede/novo}">

			<div layout:insert="~{layout/MensagemGeral}"></div>
			<div layout:insert="~{layout/MensagemErro}"></div>

			<input type="hidden" th:field="*{codigo}" />

			<div class="row">
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('conexao')} ? has-error">
					<label class="control-label" for="cliente">Conexão:</label> <select
						id="conexao" class="form-control" th:field="*{conexao}">
						<option value="">Selecione uma conexão</option>
						<option th:each="conexao : ${conexoes}"
							th:value="${conexao.codigo}" th:text="${conexao.cliente.nome}"></option>
					</select>
				</div>
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('usuario')} ? has-error">
					<label class="control-label" for="usuarioRede">Usuário:</label>
					<textarea id="usuario" rows="1" class="form-control"
						th:field="*{usuario}"></textarea>
				</div>
				<div class="form-group col-sm-4"
					th:classappend="${#fields.hasErrors('senha')} ? has-error">
					<label class="control-label" for="senhaRede">Senha:</label>
					<textarea id="senha" rows="1" class="form-control"
						th:field="*{senha}"></textarea>
				</div>

			</div>
			<div class="row">
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('tipoBase')} ? has-error">
					<label class="control-label" for="tipo">Tipo Base: </label> <select
						id="tipoBase" class="form-control" th:field="*{tipoBase}">
						<option value="">Selecione</option>
						<option th:each="tipoBase : ${tipos}"
							th:value="${tipoBase}" th:text="${tipoBase}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>





</section>

<section layout:fragment="javascript-extra"></section>
</html>