<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute">

<head>
<title>PASS - Cadastro de Conexão</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h3>Cadastro de Conexão</h3>
				</div>

				<div class="col-xs-2" style="padding-top: 2%">
					<a class="btn btn-primary" th:href="@{/senhas}"> <i
						class="fa  fa-search"></i> <span class="hidden-xs  hidden-sm">Voltar
							a pesquisa</span>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" class="form-vertical  js-form-loading"
			th:object="${conexao}" th:action="@{/senhas/novo}">

			<div layout:insert="~{layout/MensagemGeral}"></div>
			<div layout:insert="~{layout/MensagemErro}"></div>

			<input type="hidden" th:field="*{codigo}" />



			<div class="row">
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('cliente')} ? has-error">
					<label class="control-label" for="cliente">Cliente:</label> <select
						id="cliente" class="form-control" th:field="*{cliente}">
						<option value="">Selecione um cliente</option>
						<option th:each="cliente : ${clientes}"
							th:value="${cliente.codigo}" th:text="${cliente.nome}"></option>
					</select>
				</div>
				<div class="form-group  col-sm-3"
					th:classappend="${#fields.hasErrors('codigoSenior')} ? has-error">
					<label class="control-label" for="codigoSenior">Código
						Senior:</label> <input id="nome" type="number" class="form-control"
						th:field="*{codigoSenior}" />
				</div>
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('tipoRede')} ? has-error">
					<label class="control-label" for="tipoRede">Tipo de Rede:</label> <select
						id="tipoRede" class="form-control" th:field="*{tipoRede}">
						<option value="">Selecione um Tipo de Rede</option>
						<option th:each="tipoRede : ${tipoRedes}"
							th:value="${tipoRede.codigo}" th:text="${tipoRede.nome}"></option>
					</select>
				</div>
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('tipoConexao')} ? has-error">
					<label class="control-label" for="tipoRede">Tipo de
						Conexão:</label> <select id="tipoConexao" class="form-control"
						th:field="*{tipoConexao}">
						<option value="">Selecione um Tipo de Conexão</option>
						<option th:each="tipoConexao : ${tipoConexoes}"
							th:value="${tipoConexao.codigo}" th:text="${tipoConexao.nome}"></option>
					</select>
				</div>
			</div>

			<div class="row">
				<fieldset>
					<legend> Dados Conexão: </legend>

					<div class="col-md-6">
						<div class="form-group col-sm-12"
							th:classappend="${#fields.hasErrors('ip')} ? has-error">
							<label class="control-label" for="ip">IP Produção: </label>
							<textarea id="ip" rows="1" class="form-control" th:field="*{ip}"></textarea>
						</div>
						<div class="form-group col-sm-12"
							th:classappend="${#fields.hasErrors('iph')} ? has-error">
							<label class="control-label" for="ip">IP Homologação: </label>
							<textarea id="ihp" rows="1" class="form-control"
								th:field="*{iph}"></textarea>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group col-sm-12">
							<label class="control-label" for="tipo"> Usuários</label> <a
								class="btn btn-primary btn-xs" style="cursor: pointer"
								th:href="@{/senhas/conexaoRede/novo/{codigo}(codigo=${conexao.codigo})}"
								th:if="${conexao.codigo != null}"> <span class="fa  fa-plus">
									Adicionar</span>
							</a>

							<div class="table-responsive">
								<table id="tabela-sistemas"
									class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
									<thead class="aw-table-header-solid">
										<tr>
											<th>Usuário</th>
											<th>Senha</th>
											<th>Tipo de Base</th>
											<th class="text-center">Opções</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="conexaoRede : ${conexoesRedes}">
											<td><span th:text="${conexaoRede.usuario}"></span></td>
											<td><span th:text="${conexaoRede.senha}"></span></td>
											<td><span th:text="${conexaoRede.TipoBase}"></span></td>

											<td class="text-center" width="10%"><a
												class="btn btn-link btn-xs"
												th:href="@{/senhas/conexaoRede/{codigo}(codigo=${conexaoRede.codigo})}"
												title="Editar" rel="tooltip" data-placement="top"> <span
													class="fa  fa-pencil"></span>
											</a> <a class="btn btn-link btn-xs" style="cursor: pointer"
												data-toggle="modal" data-target="#confirmaExclusaoModal"
												data:nome="${conexaoRede.usuario}" title="Excluir"
												rel="tooltip" data-placement="top"
												data:url-apagar="@{/senhas/conexaoRede/{codigo}(codigo=${conexaoRede.codigo})}">
													<span class="fa  fa-trash"></span>
											</a></td>
										</tr>
										<tr th:if="${conexoesRedes.empty}">
											<td colspan="4">Nenhum usuário cadastrado</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>








				</fieldset>


			</div>
			<div class="row">
				<fieldset>
					<legend> Banco de Dados </legend>
					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('usuarioSistema')} ? has-error">
						<label class="control-label" for="usuarioSistema">Usuário
							Sistema: </label>
						<textarea id="usuarioSistema" rows="2" class="form-control"
							th:field="*{usuarioSistema}"></textarea>
					</div>
					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('senhaSistema')} ? has-error">
						<label class="control-label" for="senhaSistema">Senha
							Sistema: </label>
						<textarea id="senhaSistema" rows="2" class="form-control"
							th:field="*{senhaSistema}"></textarea>
					</div>
					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('usuarioBd')} ? has-error">
						<label class="control-label" for="usuarioBd">Usuário Banco
							de Dados: </label>
						<textarea id="usuarioBd" rows="2" class="form-control"
							th:field="*{usuarioBd}"></textarea>
					</div>
					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('senhaBd')} ? has-error">
						<label class="control-label" for="ip">Senha Banco de
							Dados: </label>
						<textarea id="senhaBd" rows="2" class="form-control"
							th:field="*{senhaBd}"></textarea>
					</div>
				</fieldset>

			</div>
			<div class="row">
				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('observacao')} ? has-error">
					<label class="control-label" for="ip">Observação: </label>
					<textarea id="observacao" rows="3" class="form-control"
						th:field="*{observacao}"></textarea>
				</div>


				<div class="form-group col-sm-3"
					th:classappend="${#fields.hasErrors('permissao')} ? has-error">
					<label class="control-label" for="tipo">Pedir Permissão: </label> <select
						id="permissao" class="form-control" th:field="*{permissao}">
						<option value="">Selecione</option>
						<option th:each="permissao : ${permissoes}"
							th:value="${permissao}" th:text="${permissao}"></option>
					</select>
				</div>

			</div>

			<div class="row">
				<div class="form-group col-sm-12">
					<label class="control-label" for="tipo">Sistemas e Versões:
					</label> <a class="btn btn-primary btn-xs" style="cursor: pointer"
						th:href="@{/senhas/conexaoSistema/novo/{codigo}(codigo=${conexao.codigo})}"
						th:if="${conexao.codigo != null}"> <span class="fa  fa-plus">
							Adicionar</span>
					</a>

					<div class="table-responsive">
						<table id="tabela-sistemas"
							class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
							<thead class="aw-table-header-solid">
								<tr>
									<th>Sistema</th>
									<th>Versão</th>
									<th class="text-center">Opções</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="conexaoCliente : ${conexoesClientes}">
									<td><span th:text="${conexaoCliente.sistema.nome}"></span></td>
									<td><span th:text="${conexaoCliente.versao}"></span></td>

									<td class="text-center" width="10%"><a
										class="btn btn-link btn-xs"
										th:href="@{/senhas/conexaoSistema/{codigo}(codigo=${conexaoCliente.codigo})}"
										title="Editar" rel="tooltip" data-placement="top"> <span
											class="fa  fa-pencil"></span>
									</a> <a class="btn btn-link btn-xs" style="cursor: pointer"
										data-toggle="modal" data-target="#confirmaExclusaoModal"
										data:nome="${conexaoCliente.sistema.nome}" title="Excluir"
										rel="tooltip" data-placement="top"
										data:url-apagar="@{/senhas/conexaoSistema/{codigo}(codigo=${conexaoCliente.codigo})}">
											<span class="fa  fa-trash"></span>
									</a></td>
								</tr>
								<tr th:if="${conexoesClientes.empty}">
									<td colspan="3">Nenhum sistema cadastrado</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>

		</form>
	</div>

	<div class="modal fade" id="confirmaExclusaoModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form th:attr="data-url-base=@{/senhas/conexaoSistema}" method="POST">
				<input type="hidden" name="_method" value="DELETE" />

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>

					<div class="modal-body">
						<span>Tem certeza que deseja deletar o Sistema da Conexão?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-danger">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>





</section>

<section layout:fragment="javascript-extra">
	<script th:src="@{/js/excluir-modal.js}"></script>
</section>
</html>