<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout/layout-padrao}">
<head>
<title>PASS - Prodama</title>
</head>

<section layout:fragment="conteudo">
	<script>
		function Procurar() {

			// Declare variables

			var input, filter, ul, li, a, i;

			input = document.getElementById('procurar');

			filter = input.value.toUpperCase();

			ul = document.getElementById("ulList");

			li = ul.getElementsByTagName('li');

			// Loop through all list items, and hide those who don't match the search query

			for (i = 0; i < li.length; i++) {

				a = li[i].getElementsByTagName("a")[0];

				if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {

					li[i].style.display = "";

				} else {

					li[i].style.display = "none";

				}

			}

		}

		function myFunction() {

			// Declare variables

			var input, filter, ul, li, a, i;

			input = document.getElementById('procurar');

			filter = input.value.toUpperCase();

			ul = document.getElementById("myUL");

			li = ul.getElementsByTagName('li');

			// Loop through all list items, and hide those who don't match the search query

			for (i = 0; i < li.length; i++) {

				a = li[i].getElementsByTagName("a")[0];

				if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {

					li[i].style.display = "";

				} else {

					li[i].style.display = "none";

				}

			}

		}
	</script>

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Senhas Prodama</h1>
				</div>


			</div>
		</div>
	</div>

	<div class="container-fluid">

		<div class="alert  alert-success"
			th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}"></span>
		</div>

		<!-- <form method="GET" class="form-vertical  js-form-loading"
			th:object="${conexaoFilter}">
			<div class="form-group">
				<div class="input-group">
					<input id="nome" type="text" th:field="*{cliente.nome}"
						class="form-control filterinput search-query form-control" placeholder="Pesquise pelo nome" /> <span
						class="input-group-btn">
						<button class="btn btn-default" type="submit">
							<span class="glyphicon  glyphicon-search"></span>
						</button>
					</span>
				</div>
			</div>
		</form> -->
		<div class="row">
		<div id="custom-search-input">
			
			<div class="input-group col-md-12">

				<input type="text" class="filterinput search-query form-control"
					placeholder="Procurar" id="procurar" autofocus="">

			</div>

		</div>
		
		<br> <br>



		<div class="panel panel-default">

			<div class="panel-heading text-center">

				<h3>
					<strong>Clientes</strong>
				</h3>

			</div>



			<div class="panel-body">
				<ul class="list-group" id="list">
					<li class="list-group-item" th:each="conexao : ${conexoes}">
						<div class="row toggle" id="dropdown-detail-151"
							data-toggle="detail-151">

							<div class="col-xs-10">
								<a href="/" th:text="${conexao.cliente.nome}"></a>
							</div>
							<div class="col-xs-2">
								<i class="fa fa-chevron-down pull-right"></i>
							</div>

						</div>
						<div id="detail-151" style="display: none;">
							<hr>
							<!-- <div class="container">-->

							<div class="fluid-row">

								<a class="btn btn-info" href="edit.php?id=151">Editar</a> <a
									class="btn btn-danger" href="del.php?id=151">Deletar</a><br>
								<br>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>




		<div class="table-responsive">
			<table id="tabela-produtos"
				class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th class="">Código</th>
						<th>Nome</th>
						<th class="text-center">Opções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conexao : ${conexoes}">
						<td th:text="${conexao.codigoSenior}" width="10%"
							class="text-center"></td>
						<td><a class="btn btn-link btn-xs" style="cursor: pointer">
								<span th:text="${conexao.cliente.nome}"></span>
						</a></td>

						<td class="text-center" width="10%"><a
							class="btn btn-link btn-xs"
							th:href="@{/senhas/{codigo}(codigo=${conexao.codigo})}"
							title="Editar" rel="tooltip" data-placement="top"> <span
								class="fa  fa-pencil"></span>
						</a> <a class="btn btn-link btn-xs" style="cursor: pointer"
							data-toggle="modal" data-target="#confirmaExclusaoModal"
							data:nome="${conexao.cliente.nome}" title="Excluir" rel="tooltip"
							data-placement="top"
							data:url-apagar="@{/senhas/{codigo}(codigo=${conexao.codigo})}">
								<span class="fa  fa-trash"></span>
						</a></td>
					</tr>
					<tr th:if="${conexoes.empty}">
						<td colspan="3">Nenhuma conexao cadastrada</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="modal fade" id="confirmaExclusaoModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form th:attr="data-url-base=@{/senhas}" method="POST">
				<input type="hidden" name="_method" value="DELETE" />

				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Você tem certeza?</h4>
					</div>

					<div class="modal-body">
						<span>Tem certeza que deseja deletar a conexão?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-danger">Excluir</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal fade" id="visualizarModal" tabindex="-1"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<form th:attr="data-url-base=@{/senhas}" method="POST">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Dados da Conexão</h4>
					</div>

					<div class="modal-body">
						<span>Tem certeza que deseja deletar a conexão?</span>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/excluir-modal.js}"></script>
	<script>
		$(document).ready(function() {

			$('[id^=detail-]').hide();

			$('.toggle').click(function() {

				$input = $(this);

				$target = $('#' + $input.attr('data-toggle'));

				$target.slideToggle();

			});

			$('.filterinput').keyup(function() {

				var a = $(this).val();

				if (a.length > 2) {

					// this finds all links in the list that contain the input,

					// and hide the ones not containing the input while showing the ones that do

					var containing = $('#list li').filter(function() {

						var regex = new RegExp('\\b' + a, 'i');

						return regex.test($('a', this).text());

					}).slideDown();

					$('#list li').not(containing).slideUp();

				} else {

					$('#list li').slideDown();

				}

				return false;

			})

		});
	</script>
</th:block>


</html>